.navbar {
    background-color: rgb(215, 255, 250);
    border: 5px ridge rgb(0, 0, 0); /* Cambia el color y el grosor */
    width: 100%; /* Ajusta el ancho */
    margin: 5px auto;
}

.body {
    background-color: rgb(215, 255, 250);
  }
h2.contigo-h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}
h4.programa-h2 {
    text-align: center;
}
.linea {
    border: 5px ridge rgb(0, 0, 0); /* Cambia el color y el grosor */
    width: 100%; /* Ajusta el ancho */
  }

.imagen {
    margin: 0.5%;
    width: 65%;
    height: 65%;    
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-end; /* Alinea el contenido hacia el final (abajo) */
    }
    
.imagen{
    width: 100% auto;
    height: 100% auto;
    object-fit: cover;
    }

.frase {
    text-align:center;
    text-align-last: under;
    color: darkblue;
    font-family:cursive;
    font-size: 40px;
    font-style: bold, italic;
    margin: 10px;
    width: 100% auto;
    height: 100% auto;
}

.form {
    margin-top: 2.5%;
    margin-right: 15%;
    background-color: #15172b;
    border-radius: 20px;
    height: 80%;
    padding: 2%;
    width: 18%;
    text-align: center;
    float: right;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 2%;
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: auto; /* La altura se ajusta al contenido */
  }
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2%;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 16px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }

  .imagen1 {
    margin: 0.5%;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-end; /* Alinea el contenido hacia el final (abajo) */
    }

    .frase1 {
        text-align:center;
        text-align-last: under;
        color: darkblue;
        font-family:cursive;
        font-size: 40px;
        font-style: bold, italic;
        margin: 10px;
        width: 100% auto;
        height: 100% auto;
    }

    .pregunta-entrada{
        width: 40%;
        margin-top: 2%;
        margin-left: 4%;
        text-align: center;
        font-size: 40px;
        font-style: italic;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: flex-end; /* Alinea el contenido hacia el final (abajo) */
    }

    .e1 {
        background-color: #08d;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 20px;
        height: 50px;
        margin-top: 38px;
        outline: 0;
        text-align: center;
        width: 100%;
      }
    
      .table-container {
        text-align: center;
        margin: auto;
        align-items: center;
        width: 90%;
        height: 100%;
        display: center;
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: flex-end; /* Alinea el contenido hacia el final (abajo) */
      } 
      
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
      }
      
      thead {
        background-color: #add8e6; /* Azul claro */
      }
      
      thead th {
        border: 1px solid #000;
        padding: 10px;
        text-align: center;
      }
      
      tbody tr {
        border: 1px solid #000;
      }
      
      tbody td {
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
      }
      
      tbody tr:hover {
        background-color: #f0f8ff;
        cursor: pointer;
      }

.timer {    
    margin: 2%;
    width: 10%;
    display: flex;
    justify-content: space-between;
    float: left
    display: flex;
    flex-direction: column;
    align-items: :left;
}

.buscar-container {    
    margin: 2%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    float: left
    display: flex;
    flex-direction: column;
    align-items: :left;
}

label {
    font-size: medium;
    margin-bottom: 10px;
}

.buscar {
    margin: 2%;
    width: 30%;
    height: 40px;
}

.imagen2 {
    margin: 1%;
    width: 35%;
    float: right;
    }

.e2 {
    background-color: #08d;
    border-radius: 12px;
    border: 5px;
    color: #eee;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 25%;
      }
